body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #336699;
    margin: 0; 
}

.main-container {
    background-color: blanchedalmond;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

#result {
    color: red;
}