body {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #336699;
    margin: 0; 
}

.main-container {
    background-color: #E7C24F;
    padding: 10px;
    border-radius: 25px;
    width: 60%;
}

#result {
    /* color: red; */
    color: #A43312;
}